<!-- this class is holding login UI -->
<h2>Login</h2>
<!-- this will track form validity and state, ng submit enables form submission -->
<form #loginForm="ngForm" (ngSubmit)="login()">

  <!-- this is for the email validation -->
  <input
    type="email"
    name="email"
    placeholder="Email"
    
    [(ngModel)]="email" 
    #emailRef="ngModel"
    required
    email
  />

  <div *ngIf="emailRef.invalid && emailRef.touched">
    <small *ngIf="emailRef.errors?.['required']"> Email is required</small>
    <small *ngIf="emailRef.errors?.['email']">Enter valid email</small>
  </div>

  <br /><br />

  <!-- Password -->
  <input
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="password"
    #passwordRef="ngModel"
    required
    minlength="6"
  />

  <div *ngIf="passwordRef.invalid && passwordRef.touched">
    <small>Password should be atleast 6 characters</small>
  </div>

  <br /><br />

  <button type="submit" [disabled]="loginForm.invalid">
    Login
  </button>

</form>

<!-- conditionally  creates and destroyes app message component -->
 <!-- passes data from parent child component,binds component class vlues to child inputs -->
<app-message
  *ngIf="message"
  [message]="message" 
  [type]="messageType">
</app-message>
<!-- display feedback -->