<!-- this class is holding login UI -->
<h2>Login</h2>

<input type="email" placeholder="Email" [(ngModel)]="email" /> //two way binding
<br /><br />

<input type="password" placeholder="Password" [(ngModel)]="password" />
<br /><br />

<button (click)="login()">Login</button>

<!-- conditionally  creates and destroyes app message component -->
 <!-- passes data from parent child component,binds component class vlues to child inputs -->
<app-message
  *ngIf="message"
  [message]="message" 
  [type]="messageType">
</app-message>
<!-- display feedback -->